@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;

  --primary-100: #7672F2;
  --primary-200: #363473;
  --primary-300: #222140;
  --dark: #0C0C0D;
  --light: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #0C0C0D;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#root{
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

input,
textarea {
  background-color: #353535;
  padding: .5rem;
  outline: none;
  border-radius: 5px;
  width: 100%;
}

textarea {
  min-height: 80px;
  resize: none;
}

/* classes prontas */

.element-3d {
  transform: rotate3d(1, 0, 0, 70deg);
}

.element-3d:hover {
  transform: rotate3d(1, 0, 0, 70deg) scale(1.03);
}

/* BACKGROUNDS  */

.background-dark {
  background: linear-gradient(325deg, var(--dark) 83% , var(--primary-100) 100%);
}
.background-light {
  background: linear-gradient(325deg, var(--light) 83% , var(--primary-100) 100%);
}



/* animation */

@keyframes smooth-display-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}


@keyframes loading {
  from {
    transform: rotate(45deg) scale(.5, 1.25) rotate(360deg)
  }

  to {
    transform: rotate(45deg) scale(.5, 1.25) rotate(0deg)
  }
}

@keyframes jump-screen {
  0% {
    transform: translate(100%);
  }

  50% {
    transform: translate(-50px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes display-screen {
  0% {
    transform: scale(.25);
    opacity: 0%;
  }

  100% {
    transform: scale(1);
    opacity: 100%;
  }
}