@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;

  --primary-100: #7672F2;
  --primary-200: #363473;
  --primary-300: #222140;
  --dark: #111111;
  --light: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #0C0C0D;
  display: flex;
  justify-content: center;
  align-items: center;
}


body::-webkit-scrollbar {
  display: none;
  /* Oculta a barra de rolagem */
}

input,
textarea {
  background-color: #353535;
  padding: .5rem;
  outline: none;
  border-radius: 5px;
  width: 100%;
}

textarea {
  min-height: 80px;
  resize: none;
}

/* classes prontas */

.element-3d {
  transform: rotate3d(1, 0, 0, 70deg);

}

.element-3d:hover {
  transform: rotate3d(1, 0, 0, 70deg) scale(1.03);
}

.neon-effect-hover:hover {
  box-shadow: 0px 0px 1px var(--primary-100), 0px 0px 5px var(--primary-100), 0px 0px 20px var(--primary-100);
}
.neon-effect {
  box-shadow: 0px 0px 1px var(--primary-100), 0px 0px 5px var(--primary-100), 0px 0px 20px var(--primary-100);
}


.remove-scrollbar::-webkit-scrollbar {
  display: none;
}


/* BACKGROUNDS  */

.background-dark {
  background: linear-gradient(325deg, var(--dark) 83%, var(--primary-100) 100%);
}

.background-light {
  background: linear-gradient(325deg, var(--light) 83%, var(--primary-100) 100%);
}

.radial-gradient {
  background: radial-gradient(#7672f240, #7672f205, transparent)
}

.border-gradient {
  border-width: 10px;
  /* Set the width of the border */
  border-style: solid;
  /* Set the style of the border */
  border-image: linear-gradient(to right, #7672f280, #7672f280, #7672f280);
}

/* animation */
@keyframes loading {
  from {
    transform: rotate(45deg) scale(.5, 1.25) rotate(360deg)
  }

  to {
    transform: rotate(45deg) scale(.5, 1.25) rotate(0deg)
  }
}

@keyframes jump-screen {
  0% {
    transform: translate(100%);
  }

  50% {
    transform: translate(-50px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes display-screen {
  0% {
    transform: scale(.25);
    opacity: 0%;
  }

  100% {
    transform: scale(1);
    opacity: 100%;
  }
}

@keyframes down-and-display {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes rising-and-disappears {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }

  100% {
    opacity: .5;
    transform: translate(10vw, -100vh);
  }
}

@keyframes rising-and-disappears-reverse {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }

  100% {
    opacity: .5;
    transform: translate(-10vw, -100vh);
  }
}


/* class animations home */


.leave-page-left {
  animation: leave-page-left linear;
  animation-timeline: view(block);
  animation-range: cover 50% cover 100%;
}

@keyframes leave-page-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.leave-page-right {
  animation: leave-page-right linear;
  animation-timeline: view();
  animation-range: cover 50% cover 100%;
}

@keyframes leave-page-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.animate-light-running {
  animation: animate-light-running linear 10s infinite;
}


@keyframes animate-light-running {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translate(60vw, 0%) rotate(0deg);
  }

  51% {
    transform: translate(58.8vw, 0%) rotate(90deg);
  }

  100% {
    transform: translate(58.8vw, 100vh) rotate(90deg);
  }
}

.animate-light-running-down {
  animation: animate-light-running-down linear 8s infinite alternate;
}

.animate-light-running-down-forwards {
  animation: animate-light-running-down linear 8s infinite alternate-reverse;
}



@keyframes animate-light-running-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
  }
}